body {
	background-color: white;
	color: black;
	font-size: 2em
	
}

#main-app {
	position: fixed;
	top: 10px;
	left: 10px;
	padding: 50px;
	overflow: auto;
}

#input-form {
font-size: 1.5em	
}

.submit {
	background-color: black;
	color: white;

}


.list, {
	overflow: auto;
	height: 500px;
	width: 50px;
}
